body {
    background-image: url("/static/images/bg.jpeg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh; 
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 80px;

}

.user-container {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 80px;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.alert-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
    justify-content: center;
    padding: 60px;
    background-image: linear-gradient(to right, #890096, #78006e, #62014d, #480931, #2d0c1c, #280a19, #240816, #200413, #2d0520, #390130, #420045, #46005d);    border-radius: 4px;
    border: 2px solid black;
    margin: 0 auto;
}

.i {
    height: 180px;
    width: 180px;
    border: 5px solid black;
    border-radius: 50%;
}

#alerth1 {
    color: white;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

#alertid {
    color: white;
}

a {
    text-decoration: none;
    
}

em {
    color: grey;
}

#signupimg {
    border: 2px solid black;
    border-radius: 5px;
    /* Box shadow generator https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 13px 14px 49px 33px rgba(53,43,107,0.92);
    -moz-box-shadow: 13px 14px 49px 33px rgba(53,43,107,0.92);
    box-shadow: 13px 14px 49px 33px rgba(53,43,107,0.92);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.custom-table, .custom-table th, .custom-table td {
    background-color: black !important;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.button {
    width: 125px;
    text-align: center;
    color: #4ffffc;
    border: 2px solid #4ffffc;
    border-radius: 20px;
    /* Gradient tool to create this https://mycolor.space/gradient */
    background-image: radial-gradient(circle, #4600fd, #5f00e1, #6b00c6, #6f00ad, #6e0096, #6f008f, #700088, #700081, #760086, #7c008c, #830091, #890096);  }

#name-error, #email-error, #password-error {
    color: red;
}

#coinImg {
    border: 1px solid black;
    border-radius: 50%;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.t-head {
    text-decoration:overline;
    text-decoration-color: #4ffffc;
    text-decoration-style:double;
}

#globalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a-watch {
    text-decoration: none; 
    color: rgb(184, 0, 184);      
    border: none;         
    outline: none;        
    background: none;     
    padding: 0;           
    margin: 0;           
    display: inline; 
}

.blur {
    filter: blur(4px);
    position: absolute;
}

/* Source for flash effect https://www.adamkhoury.com/CSS/video/Flash-and-Pulse-Effects-keyframes-Animation-Tutorial. 
Made my own modifications */
.flashit{
	-webkit-animation: flash 2s ease-out;
	animation: flash 2s ease-out;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
